<div class="container-fluid pl-5 pr-5">
  <h1 class="text-center mt-5">Create your Post</h1>
  <button class="btn btn-block btn-info mt-4 mb-2" [routerLink]="['/blog']">
    GO BLOG</button>

  <form novalidate [formGroup]="formulario" class=" mt-5" (ngSubmit)="onSubmit()">
    <!-- Nombre, apellidos, direccion, email, edad -->
    <div class="form-group">
      <label>Title</label>
      <input type="text" class="form-control" formControlName="titulo" placeholder="The bests desings">

      <p class="error" *ngIf="formulario.controls.titulo.errors?.minlength">It takes at least 5 characters
      </p>


    </div>
    <div class="form-group">
      <label>Link of image</label>
      <input type="text" class="form-control" formControlName="imagen" placeholder="https://...">

      <p class="error" *ngIf="formulario.controls.imagen.errors?.pattern">Need an http format
      </p>

    </div>
    <div class="form-group">
      <label>Text of Post</label>
      <textarea id="my-textarea" class="form-control" rows="5" class="form-control" formControlName="texto"
        placeholder="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni numquam deserunt dolores deleniti doloremque vero vel asperiores commodi nesciunt quae. Labore, itaque dolores. Earum laborum, aliquam nostrum velit nulla illo."></textarea>

      <p class="error" *ngIf="formulario.controls.texto.errors?.minlength">Need at least 15 characters
      </p>
      <p class="error" *ngIf="formulario.controls.texto.errors?.maxlength">Max. Character are 500
      </p>

    </div>

    <div class="form-group">
      <label for="my-select">Category</label>
      <select id="my-select" class="custom-select form-control" formControlName="categoria">
        <option value="">Select by Category</option>
        <option value="Web">Web Desing</option>
        <option value="UI/UX">UI/UX Design</option>
        <option value="Graphic">Graphic Design</option>
        <option value="Interior">Interior Design</option>
      </select>
    </div>


    <div class="form-group">
      <label>Author</label>
      <input type="text" class="form-control" formControlName="autor">
    </div>
    <div class="form-group">
      <label>Date</label>
      <input type="date" class="form-control" formControlName="fecha">
    </div>
    <input type="submit" class="btn btn-info btn-block mt-5" value="Enviar" [disabled]="!formulario.valid">
  </form>
</div>
<footer class="text-center bg-light p-2">
  <p>BootGump.sl - Especialistas en penurias 2020 &copy;</p>
</footer>
