<div class="container-fluid">
  <div class="row">
    <aside class="col-12 col-md-4 col-sm-12 especial text-center text-white p-4">

      <img class="mt-2" src="assets/img/logo-Blog.png" alt="logo" [routerLink]="['/blog']">
      <h2>BLOG OF DESIGN</h2>
      <p>Va usté muy cargadoo al ataquerl diodeno no puedor a wan no te digo trigo por no llamarte Rodrigor
        te voy a
        borrar el cerito la caidita</p>

    </aside>

    <div class="col-12 col-md-8 col-sm-12 p-0">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
